/* ==========================================================================
Header
========================================================================== */
// TODO: refactor menu style for when active menu displays.
// TODO: refactor and add variables based on necessity
h2 {
  font-family: "Roboto", sans-serif;
  color: #ae3a05;
}
p {
  font-family: "Roboto", sans-serif;
}
.menu-toggle {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  //   background-color: burlywood;
}

.logo {
  margin-left: 50px;
  z-index: 111;
}

#sherweb-logo {
  height: 30px;
}
.description {
  margin: 50px 0px;
  p {
    text-align: justify;
  }
}

.menu {
  margin-right: 30px;
  cursor: pointer;
  z-index: 101;
}

.open-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: burlywood;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(105%); /* move it horizontally off the page */
  transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.open-menu {
  transform: translateX(105%); /* move it horizontally off the page */
  transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  ul {
    text-decoration: none;
    font-size: large;
  }

  li {
    list-style-type: none;
    padding: 10px;
  }

  a:hover {
    text-decoration: none;
    color: #dcaf7c;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

a {
  color: white;
  padding: 30px;
  font-size: 15px;
}
.open-menu li {
  background-color: #0056a0;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  border-radius: 9px;
}
.opened {
  transform: translateX(0); /* move it back to original spot */
}
